.bgImage {
    background-image: url('../assets/banner.webp');
    background-size: cover;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: red;
}
